@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,300;0,400;0,500;1,600&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: 'Poppins', sans-serif;
}

body {
  background: #16161a;
}

main {
  min-height: 100vh;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.content-wrapper {
  width: 70%;
  display: flex;
  flex-direction: column;
}

.me-img {
  margin-bottom: 2rem;
}

.main-content h1 {
  margin-bottom: .5rem;
  color: #FFFFFE;
}

.main-content p {
  color: #94A1B2;
}

.title {
  font-weight: 500;
  font-size: 2.5rem;
}

.sub-title {
  font-weight: 400;
  font-size: 2.5rem;
  color: #FFFFFE !important;
}

.resumeBtn {
  margin-top: 2rem;
	background-color:transparent;
	border-radius:3px;
	border:2px solid #7F5AF0;
	display:inline-block;
	cursor:pointer;
	color:#7F5AF0;
	font-family:Arial;
	font-size:15px;
	padding:14px 25px;
	text-decoration:none;
}
.resumeBtn:hover {
	background-color:transparent;
}
.resumeBtn:active {
	position:relative;
}

span {
  color: #7F5AF0;
}

footer {
  position: fixed;
  bottom: 0;
  width: 100%;
  color: #FFFFFE;
}

footer a {
  color: #7F5AF0;
  text-decoration: none;
}

@media only screen and (max-width: 600px) {

  .type-writer-container {
    min-height: 9.375rem;
  }
  
  .main-content p {
    margin-top: -1rem;
  }
}